@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
*{
    margin: 0;
    padding:0 ;
    /* overflow-x: hidden; */
}
  nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #060c12;
    position: sticky;
    z-index: 1;
    top: 0;
    height: 60px;
    background-color: #23afb9;
  }
  nav h1 {
    color: white;
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
    font-style: italic;
    padding-left: 100px;

  }
  
  ul {
    background-color: #23afb9;
    width: 60%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  ul li {
    position: relative;
    list-style: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    font-style: italic;
    cursor: pointer;
  }
  nav ul li:after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: #fff;
    display: block;
    transition: 0.5s;
  }
  nav ul li:hover:after {
    width: 100%;
  }
  i {
    /* float: right; */
    margin: 10px;
    color: #fff;
  }
  #ham{
    display: none;
  }
  @media (max-width: 800px) {
    #ham{
      display: block;
    }
    ul {
      background-color: rgba(0, 0, 0, .9);
      position: absolute;
      top: 60px;
      left: -100%;
      width: 100%;
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      transition: 0.3s;
    }
  
    .active {
      left: 0px;
    }
  }
  body {
    background-color: #d0fcff;
  }
.wholepage .firstsec {
    background-color: #23afb9;
    width: 100%;
  }
  .wholepage .firstsec .main {
    padding-top: 150px;
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 60px;
    /* width: 100%; */
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .wholepage .firstsec .main .firstsecinfo {
    display: flex;
    flex-direction: column;
    width: 45%;
  }
  
  .wholepage .firstsec .main .firstsecinfo h1 {
    color: #fff;
    font-size: 43px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .wholepage .firstsec .main .firstsecinfo p {
    /* width: 600px; */
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    margin-top: 15px;
  }
  .wholepage .firstsec .main .firstsecinfo .btn {
    width: 250px;
    height: 60px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #3fdbb1;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 25px;
    overflow: hidden;
   cursor: pointer;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .wholepage .firstsec .main .firstsecinfo .btn i {
    margin-right: 10px;
    font-size: 25px;
    transform: translateX(-80px);
    transition: 0.2s;
    /* display: none; */
  }
  .wholepage .firstsec .main .firstsecinfo .btn:hover i {
    display: block;
    transform: translateX(0px);
  }
  .wholepage .firstsec .main img {
    width: 40%;
    border-radius: 15px;
  }
  .wholepage .firstsec img {
    box-shadow: 0px 3px 10px #23afb9, 0px 3px 30px #23afb9;
    /* 0px  3px 50px #23afb9; */
    /* height: 300px; */
    /* width: 180%; */
  }
  
  .wholepage .secondsec {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .wholepage .secondsec .main2 {
    width: 90%;
    display: flex;
    background-color: #fff;
    flex-direction: column;
  }
  .wholepage .secondsec .main2 h1{
    color: #030303;
    font-weight: lighter;
    margin-top: 20px;
    padding: 20px;
    text-transform: capitalize;
  }
  .wholepage .secondsec .main2 p{
    text-align: justify;
    width: 90%;
    font-size: 1.2em;
    line-height: 1.5rem;
    margin: 0px auto;
  }
  .wholepage .thirdsec {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wholepage .thirdsec .main3 {
    width: 90%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    /* padding: 50px; */
  }
  .wholepage .thirdsec .main3 .main3left {
    /* width: 600px; */
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
  }
  .wholepage .thirdsec .main3 .main3left .leftupper h2 {
    font-weight: lighter;
    /* text-align: center; */
    /* margin: 30px; */
    font-family: Arial, Helvetica, sans-serif;
  }
  .wholepage .thirdsec .main3 .main3left .leftupper p {
    /* background-color: red; */
    padding: 20px;
    padding-left: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    text-align: justify;
  }
  .wholepage .thirdsec .main3 .main3left .leftlower .lower1 {
    display: flex;
    /* flex-direction: column; */
    margin: 20px 0;
    align-items: center;
  }
  .wholepage .thirdsec .main3 .main3left .leftlower .lower1 i {
    font-size: 20px;
    color: #000;
    opacity: 0.8;
  }
  .wholepage .thirdsec .main3 .main3left .leftlower .lower1 .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    /* background-color: pink; */
  }
  .wholepage .thirdsec .main3 .main3left .leftlower .lower1 .c1 {
    background-color: #3ebdad;
  }
  .wholepage .thirdsec .main3 .main3left .leftlower .lower1 .c2 {
    background-color: #9762dc;
  }
  .wholepage .thirdsec .main3 .main3left .leftlower .lower1 .c3 {
    background-color: #ffc0c2;
  }
  .wholepage .thirdsec .main3 .main3left .leftlower .lower1 .c4 {
    background-color: #f6ba30;
  }
  .wholepage .thirdsec .main3 .main3left .leftlower .lower1 .lower1content {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
  }
  .wholepage .thirdsec .main3 .main3left .leftlower .lower1:hover h2{
    color:rgb(98, 98, 255)
  }
  .wholepage .thirdsec .main3 .main3left .leftlower .lower1 .lower1content h2 {
    margin: 10px 0;
    font-weight: bold;
  }
  .wholepage .thirdsec .main3 .main3left .leftlower .lower1 .lower1content p {
    line-height: 25px;
    width: 400px;
    /* display: none; */
  }
  .wholepage .thirdsec .main3 img {
    margin: auto 0;
    width: 40%;
  }
  .wholepage .fifthsec {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wholepage .fifthsec .main5 {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background-color: #fff;
  }
  .wholepage .fifthsec .main5 h1 {
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
    margin: 20px;
    /* background-color: #eee; */
  
    /* font-family: Arial, Helvetica, sans-serif; */
  }
  .wholepage .fifthsec .main5 p {
    width: 80%;
  }
  .wholepage .fifthsec .main5 .cards {
    margin-top: 50px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .wholepage .fifthsec .main5 .card {
    display: flex;
    width: 27%;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid gray;
    border-radius: 8px;
    /* margin: 20px; */
    background-color: #fff;
    box-shadow: 10px 10px 5px #999999;
  }
  .wholepage .fifthsec .main5 .cards .card h3 {
    padding: 22px;
    font-size: 22px;
    font-weight: lighter;
    /* color: #742DD2; */
  }
  .wholepage .fifthsec .main5 .cards .card p {
    /* color: #742DD2; */
    padding: 10px 30px;
    text-align: justify;
  }
  .wholepage .fifthsec .main5 .cards .card button {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid #23afb9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #fff;
    margin: 10px 30px;
    transition: .2s;
  
  }
  .wholepage .fifthsec .main5 .cards .card button:hover{
  background-color: #23afb9 ;
  color:  #fff;
  }
 
  .wholepage .sixthsec {
  }
  .wholepage .sixthsec .main6 {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    background-color: #fff;
  }
  .wholepage .sixthsec .main6 h1 {
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
    margin: 20px;
    justify-content: space-around;
  }
  
  .wholepage .sixthsec .main6 .main6contentbox {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
  }
  .wholepage .sixthsec .main6 .main6contentbox img {
    height: 200px;
  }
  .wholepage .sixthsec .main6 .main6contentbox .contactus{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 45%;
  }
  .wholepage .sixthsec .main6 .main6contentbox .contactus h1{
      margin: 0;
  }
  .wholepage .sixthsec .main6 .main6contentbox .contactus h2{
      font-size: 25px;
      font-weight: lighter;
      letter-spacing: .5px;
      margin-top: 10px;
      margin-bottom: 30px;
  }
  .wholepage .sixthsec .main6 .main6contentbox .contactus .form{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .wholepage .sixthsec .main6 .main6contentbox .contactus .form .group{
      position: relative;
      width: 45%;
      margin-bottom: 20px;
  }
  .wholepage .sixthsec .main6 .main6contentbox .contactus .form .group .input-label{
     position: absolute;
    left: 5px;
    bottom: 5px;
    font-size: 18px;
    color: gray;
    transition: .2s;
    pointer-events: none;
  }
  .wholepage .sixthsec .main6 .main6contentbox .contactus .form input{
      width: 100%;
      border: none;
      border-bottom: 1px solid gray;
      height: 40px;
      position: relative;
      font-size: 18px;
      color: gray;
      outline: none;
      padding-bottom: -25px;
      padding-left: 5px;
      vertical-align: bottom;
  }
  .wholepage .sixthsec .main6 .main6contentbox .contactus .form input:focus + .input-label{
    bottom: 40px;
    font-size: 14px;

  }
  .wholepage .sixthsec .main6 .main6contentbox .contactus button{
    width: 120px;
    height: 50px;
    border-radius: 4px;
    background-image: linear-gradient(
95deg
,#23afb9 ,#8ff1f8);
    position: relative;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }
  .wholepage .sixthsec .main6 .main6contentbox .contactus button i{
    position: absolute;
    right: -29px;
    transition: .2s;
    top: 15%;
  }
  .wholepage .sixthsec .main6 .main6contentbox .contactus button:hover i{
      right: 0;
  }
  /* .wholepage .sixthsec .main6 .main6contentbox .contactus .form input::after{
    position: absolute; 
    content: 'Your Name';
    display: block;
  } */
  button:focus {
    outline: none;
  }
  @media (max-width: 1024px) {
    .wholepage .firstsec .main .firstsecinfo h1 {
      font-size: 37px;
    }
    .wholepage .firstsec .main .firstsecinfo p {
      width: 300px;
    }
    .wholepage .firstsec .main img {
      width: 50%;
    }
    .wholepage .thirdsec .main3 .main3left .leftlower .lower1 .lower1content p {
      width: 320px;
    }
    .wholepage .thirdsec .main3 img {
      width: 38%;
    }
    .wholepage .fourthsec .main4 .main4contentbox img {
      height: 200px;
    }
    .wholepage .fifthsec .main5 h1 {
      font-size: 25px;
    }
    .wholepage .fifthsec .main5 .cards {
      justify-content: space-evenly;
    }
    .wholepage .fifthsec .main5 .card {
      width: 42%;
    }
    .wholepage .sixthsec .main6 .main6contentbox .main6content p {
      font-size: 18px;
    }
    .wholepage .sixthsec .main6 .main6contentbox .main6content input {
      width: 270px;
    }
    .wholepage .sixthsec .main6 .main6contentbox .main6content button {
      width: 250px;
    }
  }
  @media (max-width: 800px) {
      
    .wholepage .firstsec .main {
      flex-direction: column;
      padding-top: 50px;
      /* justify-content: space-between; */
    }
    .wholepage .fifthsec{
          overflow-x: hidden;

    }
    .wholepage .firstsec .main img {
      width: 300px;
    }
    .wholepage .firstsec .main .firstsecinfo {
      width: 100%;
      align-items: center;
    }
    .wholepage .firstsec .main .firstsecinfo h1 {
      font-size: 30px;
    }
    .wholepage .firstsec .main .firstsecinfo p {
      text-align: center;
      width: 100%;
      font-size: 18px;
    }
    .wholepage .firstsec .main .firstsecinfo button {
      margin-bottom: 40px;
    }
  
  
    .wholepage .thirdsec .main3 {
      flex-direction: column;
    }
    .wholepage .thirdsec .main3 .main3left {
      width: 90%;
    }
    .wholepage .thirdsec .main3 .main3left .leftupper h2 {
      text-align: center;
    }
    .wholepage .thirdsec .main3 .main3left .leftlower .lower1 .lower1content p {
      width: 450px;
    }
    .wholepage .thirdsec .main3 img {
      margin-top: 50px;
      width: 60%;
    }
    
    .wholepage .fifthsec .main5 h1 {
      font-size: 30px;
    }
    .wholepage .fifthsec .main5 p {
      width: 95%;
      text-align: justify;
    }
    .wholepage .fifthsec .main5 .card {
      width: 80%;
    }
    .wholepage .sixthsec .main6 h1 {
      font-size: 25px;
    }
    .wholepage .sixthsec .main6 .main6contentbox {
      flex-direction: column;
      align-items: center;
    }
    .wholepage .sixthsec .main6 .main6contentbox img {
      width: 50%;
      margin-bottom: 25px;
    }
    .wholepage .sixthsec .main6 .main6contentbox .contactus{
        align-items: flex-start;
        width: 85%;
    }
   
    .wholepage .sixthsec .main6 .main6contentbox .contactus .form .group{
        width: 48%;
    }
    .wholepage .sixthsec .main6 .main6contentbox .contactus .form .group .input-label{
      font-size: 16px;
      z-index: 2;

    }
    .wholepage .sixthsec .main6 .main6contentbox .contactus .form input:focus + .input-label{
        bottom:25px;
        font-size: 14px;
    
      }
      
  }
  @media (max-width: 680px) {
    .wholepage .firstsec .main .firstsecinfo h1 {
      font-size: 25px;
      line-height: 35px;
      text-align: center;
    }
    .wholepage .firstsec .main .firstsecinfo p {
      font-size: 16px;
    }
    .wholepage .firstsec .main .firstsecinfo button {
      width: 200px;
      height: 20px;
    }
    .wholepage .firstsec .main img {
      /* height: 300px; */
      width: 80%;
      margin-bottom: 25px;
    }
  
    .wholepage .thirdsec .main3 .main3left .leftupper p {
      text-align: center;
    }
    .wholepage .thirdsec .main3 .main3left .leftlower .lower1 {
      flex-direction: column;
    }
    .wholepage .thirdsec .main3 .main3left .leftlower .lower1 .lower1content h2 {
      text-align: center;
      margin-top: 10px;
    }
    .wholepage .thirdsec .main3 .main3left .leftlower .lower1 .lower1content p {
      width: 95%;
      text-align: justify;
    }
    .wholepage .fifthsec .main5 h1 {
      font-size: 25px;
    }
    .wholepage .fifthsec .main5 p {
      width: 95%;
      font-size: 16px;
      text-align: justify;
    }
    .wholepage .fifthsec .main5 .card p {
      font-size: 16px;
    }
   
   
  }
  @media (max-width: 468px) {
    .wholepage .firstsec .main .firstsecinfo p {
      line-height: 25px;
    }
    .wholepage .firstsec .main img {
      width: 200px;
    }
   
    .wholepage .thirdsec .main3 .main3left .leftupper h1 {
      font-size: 18px;
    }
    .wholepage .thirdsec .main3 .main3left .leftupper p {
      font-size: 16px;
      text-align: justify;
    }
  
    .wholepage .thirdsec .main3 .main3left .leftupper h1 {
      font-size: 18px;
    }

    .wholepage .fifthsec .main5 h1 {
      text-align: left;
      font-size: 25px;
    }
    .wholepage .fifthsec .main5 .cards .card h3 {
      font-size: 19px;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
    .wholepage .sixthsec .main6 .main6contentbox img{
        width: 350px;
    }
    .wholepage .sixthsec .main6 .main6contentbox .contactus .form{
        flex-direction: column;
    }
    .wholepage .sixthsec .main6 .main6contentbox .contactus .form .group{
        width: 90%;
    }
  }
  